<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Kat's parallax Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="assets/logo.png" alt="my logo"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">menu</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">menu</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header left blue-grey-text text-lighten-5">I develop</h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">
          <a href="https://github.com/katryc" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Projects</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="assets/background1.jpg" alt="background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">loyalty</i></h2>
            <h5 class="center">Love what I do</h5>

            <p class="light">Happy to start new projects, explore new technology, put long hours of hard-coding.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Team-player</h5>

            <p class="light">Being an efficient part of the team can make everybody's life easier. Why settle for less? </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">satellite</i></h2>
            <h5 class="center">Remote</h5>

            <p class="light">Remote job is always fun: only way to get to understand the world is to travel it.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">No computer is ever going to ask a new, reasonable question. It takes trained people to do that. <br> Grace Hopper</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/background2.png" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Coderary</h4>
          <p class="left-align light">The wisdom of millions talented and motiavetd developers, artists and educators spread out across the Internet that, combined, can bring the brand new world closer.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Constantly think about how you could be doing things better and questioning yourself. <br> Elon Musk</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="assets/background3.png" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Dev's Bio</h5>
          <p class="grey-text text-lighten-4">I am a recent graduate of Wyncode Academy with a passion and ambition to master the art of code. </p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a href="https://twitter.com/katmryc">
<img border="0" alt="twitter account" src="assets/twit.png" width="50" height="50">
</a></li>
            <li><a href="https://www.linkedin.com/in/katmrycak">
<img border="0" alt="linked-in account" src="assets/link.png" width="50" height="50">
</a></li>
            <li><a href="https://katryc.wordpress.com">
<img border="0" alt="kat's blog" src="assets/blog.png" width="50" height="50">
</a></li>
            <li><a href="https://github.com/katryc">
<img border="0" alt="github account" src="assets/octo.png.jpg" width="50" height="50">
</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->

  </body>
</html>
